<% 
	#tableCode 表的英文名称转化成 Ht_refund.camelize   HtRefund
  table_name_con = @tableCode.camelize 
  #    
  url_name  =   @packageName.gsub(/([.])/, '/')  

    %>
#########################################script#####################################
##该模板不能含有script，否则会执行两次。
#set($js_config=["
'homeModule' : '$homeModule',
'urlMap':{
'query':'$homeModule/<%=@packageName%>/eticketList.htm?action=/eorder/ETicketAction&event_submit_do_query_e_ticket_for_pagin=anything',
'view<%=table_name_con%>':'$homeModule<%=url_name%>/<%=table_name_con.lowercase%>Info.htm',
'check':'$homeModule/eorder/eticket/eticketCheck.htm',
'exportData':'$homeModule/eorder/eticket/uploading.htm'
},
'permission':{},
'<%=table_name_con.lowercase%>Info':'<%=@tableName%>详细信息'
"])
#set($js_url=["$statics/js/<%=url_name%>/<%=table_name_con.lowercase%>.js"])
##针对页面功能的js文件URL路径
#########################################DOM#########################################
	<div region ="center" border="false"  >
		<form id="Data_Form" method="post">
			<div>
				$csrfToken.hiddenField				
				<div>		
					<table class="detail-table">
						<tr><td class="title" colspan="4"><%=@tableName%>信息</td></tr>
						<%
						#@columns.each {   |i|    temp = i.field.camelize    
						# for( k = 0;i++; k< @columns.count)
						 k = @columns.count
						 n = 0
						 while n < k do
						  i = @columns[n]
						  temp = i.field.camelize  
						 
						%>
							<tr>
								<td class="lable"><%=i.comment%></td>
								<td class="wid300">
									$!<%=table_name_con.lowercase%>.<%=temp.lowercase%>
								</td>
							<%  
								if !@columns[n+1].nil?
								    i = @columns[n+1] 
							 	   temp = i.field.camelize 
							%>	
								<td class="lable"><%=i.comment%></td>
								<td class="wid300">
									$!<%=table_name_con.lowercase%>.<%=temp.lowercase%>
								</td>
								
							<%  end	%>
							</tr>
						<%  n = n + 2 %>	
						  <% end %> 					
					</table>
				</div>
			</div>
			<div class="form-bottom-toolbar">		
					
			    <a id="Submit_Button" class="easyui-linkbutton" iconCls="icon-save">保存</a>
				
				<a id="Close_Button" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
			</div>
		</form>
	</div>
